body {
  background: gray;
  color: white;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
}

#container {
  width: 60%;
  background: blue;
  margin: 20px auto;
  overflow: auto;
  padding: 25px;
}

header {
  text-align: center;
  border-bottom: #fff dashed 1px;
}

header h1 {
  margin: 0;
  padding: 0;
}

header p {
  padding: 0;
  margin-top: 5px;
  color: black;
  font-weight: bold;
}

section {
  min-height: 400px;
}

footer {
  text-align: center;
}

input[type="submit"] {
  background: white;
  border: 0;
  color: blue;
  padding: 10px 15px;
  cursor: pointer;
}

#results h3 {
  background: gray;
  padding: 10px;
  margin: 10px 0;
}

#results span {
  color: black;
  font-weight: bold;
}
